.places__container {
    display: grid;
    grid-gap: 2vh;
    padding: 2vh;
    overflow: auto;
    height: auto;
    width: 500px;
}

.place__item {
    padding: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
}

.place__item > div {
    margin-right: 20px;
}

.place__item__description__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.place__item__description__container > b > a {
    text-decoration: none;
}

.place__item__description__container > p {
    margin: 5px;
    padding: 0;
}

.search__menu > ul > li {
    list-style: none;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    align-items: center;
}

.search__menu > ul > li > input {
    width: 100%;
    padding: 10px;
}

.search__menu > ul > li > i {
    padding: 10px;
    text-align: center;
}